In [147]:
import pandas as pd
import pickle

In [155]:
with open('../data/target_train.csv', 'rb') as handle:
    df_train = pd.read_csv(handle)

with open('../data/target_test.csv', 'rb') as handle:
    df_test = pd.read_csv(handle)

with open('../data/df_egrul_kad_arbitr_merged_v041.csv', 'rb') as handle:
    full_data = pd.read_csv(handle)

In [149]:
df_train.head()

          inn  target
0  5260112410       0
1  6311150391       0
2  7810027596       0
3  2465293875       0
4  6324076748       0

In [156]:
full_data.head()

,Unnamed: 0,inn,data_ОКВЭД_Код,data_Налоги_СумУпл,data_Налоги_СумНедоим,data_УстКап_Сумма,data_Санкции,data_НелегалФин,Возраст_компании,Недостоверный_адрес,...,status_Действующая организация,status_Деятельность прекращена,status_Процесс банкротства,status_Процесс исключения,status_Процесс реорганизации,status_Стадия ликвидации,Категория_МСП_МАЛОЕ ПРЕДПРИЯТИЕ,Категория_МСП_МИКРОПРЕДПРИЯТИЕ,Категория_МСП_Неизвестно,Категория_МСП_СРЕДНЕЕ ПРЕДПРИЯТИЕ
0,0,1001001390,02.20,2.478546e+08,2.072310e+07,15583520.0,0,0,30,0,...,1,0,0,0,0,0,0,0,1,0
1,1,1001004095,20.11,1.695939e+07,0.000000e+00,32400.0,0,0,32,0,...,1,0,0,0,0,0,1,0,0,0
2,2,1001028755,46.73,4.668453e+06,0.000000e+00,10000.0,0,0,13,0,...,1,0,0,0,0,0,1,0,0,0
3,3,1001095007,46.51,5.535989e+06,0.000000e+00,210000.0,0,0,25,0,...,1,0,0,0,0,0,1,0,0,0
4,4,1001098784,10.52,1.331751e+07,1.269584e+08,9850000.0,0,0,25,0,...,0,0,1,0,0,0,1,0,0,0

In [ ]:
full_data = full_data.drop(columns='Unnamed: 0')

train_data = df_train.merge(full_data, left_on='inn', right_on='inn')
test_data = df_test.merge(full_data, left_on='inn', right_on='inn')

train_data.head()

,target,ИНН,Возраст_компании,Статус,Недостоверный_адрес,Сумма_налоговой_недоимки,Сумма_уплаченных_налогов,Особый_налоговый_режим,Массовый_руководитель,Дисквалифицированный_руководитель,...,Всего_дел_в_системе,Длительность_судебной_истории,Время между первым и последним делом,Unnamed: 0_y,status_Действующая организация,status_Деятельность прекращена,status_Процесс банкротства,status_Процесс исключения,status_Процесс реорганизации,status_Стадия ликвидации
0,0,5260112410,22,Действует,False,0.00,966978.89,0,False,False,...,1.0,0.0,0.0,0,1,0,0,0,0,0
1,0,6311150391,11,Действует,False,0.00,5800685.53,1,False,False,...,2.0,2.0,2.0,1,1,0,0,0,0,0
2,0,7810027596,19,Действует,False,0.00,29543894.35,0,False,False,...,212.0,18.0,18.0,2,1,0,0,0,0,0
3,0,2465293875,11,Юридическое лицо находится в процессе реоргани...,False,41.26,1785567.35,1,True,False,...,27.0,7.0,7.0,3,0,0,0,0,1,0
4,0,6324076748,8,Действует,False,0.00,55806212.23,0,False,False,...,12.0,6.0,6.0,4,1,0,0,0,0,0

In [152]:
test_data = df_test.merge(df_egrul, left_on='inn', right_on='ИНН')
test_data = test_data.merge(arbitr_df, left_on='inn', right_on='inn')
test_data['Время между первым и последним делом'] = test_data['Последнее_дело_дата'] - test_data['Первое_дело_дата']
test_data = test_data.merge(orgs_df, left_on='inn', right_on='inn')
test_data = test_data.drop(columns=['inn', 'Последнее_дело_дата', 'Первое_дело_дата'])

test_data.head()

,ИНН,Возраст_компании,Статус,Недостоверный_адрес,Сумма_налоговой_недоимки,Сумма_уплаченных_налогов,Особый_налоговый_режим,Массовый_руководитель,Дисквалифицированный_руководитель,Недостоверный_руководитель,...,Всего_дел_в_системе,Длительность_судебной_истории,Время между первым и последним делом,Unnamed: 0_y,status_Действующая организация,status_Деятельность прекращена,status_Процесс банкротства,status_Процесс исключения,status_Процесс реорганизации,status_Стадия ликвидации
0,5075011400,27,Действует,False,53185554.03,5.851768e+08,0,False,False,False,...,31.0,20.0,20.0,3405,1,0,0,0,0,0
1,2901069890,29,Действует,False,1563596.15,1.708650e+07,0,False,False,False,...,42.0,13.0,13.0,10369,1,0,0,0,0,0
2,5074059520,6,Находится в стадии ликвидации,False,0.00,1.694690e+07,0,False,False,False,...,11.0,3.0,3.0,10493,0,0,0,0,0,1
3,7720802226,11,Действует,False,0.00,8.135922e+06,1,False,False,False,...,6.0,8.0,8.0,10509,1,0,0,0,0,0
4,7731400039,7,Действует,False,0.00,3.886740e+06,0,False,False,False,...,0.0,2024.0,0.0,10510,1,0,0,0,0,0

In [153]:
with open('../data/train_df.pkl', 'wb') as handle:
    pickle.dump(train_data, handle)

with open('../data/test_df.pkl', 'wb') as handle:
    pickle.dump(test_data, handle)